Service References/UServe/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.influentinc.com/userve/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyService" />
  <xs:element name="UAC_EnterLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="login" nillable="true" type="q1:UAC_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_EnterLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="UAC_EnterLoginResult" nillable="true" type="q2:UAC_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="cp" nillable="true" type="q3:UAC_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="UAC_ChangePasswordResult" nillable="true" type="q4:UAC_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_ForgotPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="fp" nillable="true" type="q5:UAC_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_ForgotPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="UAC_ForgotPasswordResult" nillable="true" type="q6:UAC_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_RetrieveOnlineUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_RetrieveOnlineUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="UAC_RetrieveOnlineUsersResult" nillable="true" type="q7:UAC_OnlineList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_EmailInUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="eiu" nillable="true" type="q8:UAC_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_EmailInUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="UAC_EmailInUseResult" nillable="true" type="q9:UAC_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_ImOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="imo" nillable="true" type="q10:UAC_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_ImOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="UAC_ImOnlineResult" nillable="true" type="q11:UAC_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_PlayerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_PlayerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="UAC_PlayerListResult" nillable="true" type="q12:UAC_OnlineList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_CreateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="ca" nillable="true" type="q13:UAC_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_CreateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="UAC_CreateAccountResult" nillable="true" type="q14:UAC_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_UploadSS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="ub" nillable="true" type="q15:UAC_Bytes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_UploadSSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UAC_UploadSSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_LoadSSList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="admin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_LoadSSListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="UAC_LoadSSListResult" nillable="true" type="q16:UAC_SSList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_GetSS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="record" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_GetSSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="UAC_GetSSResult" nillable="true" type="q17:UAC_Bytes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_DeleteSS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="record" type="xs:int" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UAC_DeleteSSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UAC_DeleteSSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>